body {
    max-width: 75em;
    margin: 0 auto;
    background-color: #fff;
}

#mainContainer {
    max-width: 75em;
    min-width: 20em;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}