.ps-wrapper {
    /*position: relative;*/
    margin: 0 -1px;
    clear: both;
}

/* Predictive Search Dropdown */

#search {
    .ps-list {
        box-shadow: 0 4px 7px 2px rgba(0, 0, 0, .2);
        border: 1px solid #d4d4d4;
        text-align: left;
        * {
            font-family: "Segoe UI", Arial, sans-serif !important;
        }
    }
    .ps-header {
        border: 1px solid #d4d4d4;
        color: #333;
        font-size: 14px;
        font-weight: 700;
        height: 1.2em;
        line-height: 1.2em;
        margin: -1px -1px 0;
        padding: 7px 12px;
    }
    .ps-category-items {
        * {
            font-size: 13px;
        }
        li {
            white-space: nowrap;
            border-bottom: 1px solid #d7d7d7;
            &:last-child {
                border-bottom: 0 none;
            }
        }
        &.image {
            vertical-align: middle;
            display: inline-block;
            height: 30px;
            width: 30px;
            margin-right: 5px;
        }
        &.People {
            .text, .image {
                white-space: nowrap;
            }
            .text {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
                width: 50ch;

                .line1, .line2 {
                    display: block;
                    font-size: 1em;
                    font-weight: normal;
                }
            }
            .image {
                img {
                    display: block;
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &.training {
            .text {
                white-space: normal !important;
            }
            .image {
                img {
                    display: block;
                    margin: 2px auto;
                }
            }
        }
        .grey {
            color: $brand-gray-dark;
        }
    }
    ul.ps-list {
        display: block;
        left: inherit;
        list-style-type: none;
        margin: 0;
        border: $brand-gray-dark;
        border-radius: none;
        padding: 0;
        background: #fff;
        z-index: 999999;
        overflow: hidden;

        ul.ps-category-items{
            margin-left: 0;
            padding-left: 0;
            li {
                margin-left: 0;
                padding-left: 0;
                font-size: 1.25em;
                list-style-type: none;
                a{
                    padding: 10px;
                    display: block;
                    &:hover {
                        background: #e3e3e3;
                        text-decoration: none !important;
                    }
                    &.ps-selected {
                        background: #E3E3E3;
                        color: #fff;
                        span, span.grey {
                            color: #FFF !important;
                        }
                    }
                }
                
            }
        }
        div.ps-header {
            border: 1px solid #DDDDDD;
            color: #4E4E4E;
            font-size: 14px;
            font-weight: 700;
            height: 1.2em;
            line-height: 1.2em;
            margin: -1px -1px 0;
            padding: 7px 12px;
        }
    }
    ul.ps-category-items {
        li {
            a {
                &:hover {
                    span {
                        color: #333 !important;
                    }
                }
            }
            span {
                color: #4E4E4E;
            }
        }
    }
    .ellipsis {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}

.ps-sm-list {
    position: relative;
    padding-top: 9px;

    .ps-list {
        position: absolute;
        right: 0;
        width: 44ch !important;

        .ps-category-items {
            .text-long {
                width: 212px !important;
            }
        }
    }
}

.cso-dislocate {
    color: $brand-text;
    display: block;
    height: 0px;
    width: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    z-index: 1;
}


/* RIGHT TO LEFT
 *********************************/

#dir-rtl {
    .ps-list {
        .ps-category-items {
            .image {
                margin: 0 0 0 5px;
            }
        }
    }
    ul.ps-list {
        ul.ps-category-items {
            margin-right: 0;
            padding-right: 0;
            text-align: right;
        }
    }
}

 